<mat-toolbar>
  <h1 class="titulo">TODO App</h1>
  <mat-form-field class="input-tollbar">
    <input matInput placeholder="Digite aqui...">
  </mat-form-field>
  <button class="botao" mat-raised-button color="primary">Salvar</button>
</mat-toolbar>

<mat-card class="meu-card">
  <mat-card-header>
    <mat-card-title>Lista de tarefas</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-checkbox class="check-tarefa"></mat-checkbox>
        <p class="txt-tarefa">Item 1</p>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox class="check-tarefa"></mat-checkbox>
        <p class="txt-tarefa">Item 1</p>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox class="check-tarefa"></mat-checkbox>
        <p class="txt-tarefa">Item 1</p>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
